{{>partials/header}}

<h1>Cadastrar</h1>

<form method="post" action="/cadastrar" >
    <input type="text" name="name">
    <input type="password" name="password">


    <button type="submit">Cadastrar</button>
</form>

{{ message }}

{{>partials/footer}}